onlyBuiltDependencies[]=@tailwindcss/oxide
onlyBuiltDependencies[]=esbuild
onlyBuiltDependencies[]=sharp
onlyBuiltDependencies[]=unrs-resolver
onlyBuiltDependencies[]=classic-level
onlyBuiltDependencies[]=leveldown
